

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bg {
    /* The image used */
    background-image: url("../img/onepage/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar{
    width: 30px;
    border-radius: 50%;
}


.bg-login {
    /* The image used */
    background-image: url("../img/onepage/bg-login.jpg");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-modal{
    top:25vh;
}
.home-bg{
    background: #fff;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

.feed{
    margin-top:100px;
}

.feed-element{
    background: #FFF;
    margin-bottom: 20px;
}
.login-modal-container{
    background: #FFF;
    border-radius: 5px;
    padding: 20px;
}

.bigblock{
    padding-top: 100px;
    height: 100vh;
}

.bg-text{
    text-align:center;
    height: 100%;
    width: 100%;
}
.bg-text p{
  top: 30vh;
  background: #000000eb;
  color: #FFF;
  position: absolute;
  font-size: 20px;
  padding: 30px;
}

ul.inline{
  display: inline-block;
}


.concept-block{
    background: #294929;
}

.us-block{
    background: #194A13
}

.news-block{
    background: #19FF13

}

.block{
    padding:20px;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fafafa;
    border-radius: 0.3rem;
    margin-bottom: 50px;

}

.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}

.img-prog-thumb img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.img-prog-form img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 100% 0%; /* default value: image is centered*/

}
.img-bar-home img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 20% 30%; /* default value: image is centered*/
}


.img-publication-home img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%; /* default value: image is centered*/
}

.img-bar-home-event img{
    width: 100%;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 20% 30%; /* default value: image is centered*/
}
.img-event-single img{
    width: 100% ;
    height: 400px;
    object-fit: cover;
    object-position: 20% 30%; /* default value: image is centered*/
}

.schedule{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.block-home{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border-radius:5px;
  background: #FFF;
}

.block-body{
    padding: 20px;
    position: relative;
    top:-50px;

}

.block-body h1 {
    position: relative;
    background: #000;
    color:#FFF;
    padding:10px;
    font-size: 30px;
}

.block-feed{
    margin-top:30px;
}


.fixed-element{
    position: fixed;
}
.actions-bar{
    position: relative;
    top:50px;
}


.gallery-img{
    padding: 20px;

}
.gallery-img img{
    border-radius: 5px;
    width: 100% ;
    height: 200px;
    object-fit: cover;
    z-index: 1000;
    object-position: 50% 50%; 
}
.bar-gallery img{
    /*height: 200px;*/
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%; 
}

.bar-single-gallery img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%; 
}

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 2000;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 1999;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

.cookie-consent{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #FFF;
  text-align: center;
  line-height: 100px;
}

.unviewed{
  font-weight: bold;
}